ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5baee5;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;

}

li a:hover {
    background-color: white;
    color: #5baee5;
}

li {
    border-right: 1px solid #bbb;
}

.active {
    background-color: #5baee5;
}

ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

h1 {
  text-align: center;
}
